@model MyBlogEmpty.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Posts Manager";
    Layout = "~/Views/Admin/AdminLayout.cshtml";    
}

<script src="@Url.Content("~/Scripts/AdminIndex.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/AdminIndex.css")" rel="stylesheet" type="text/css" />

@{ var className = ViewBag.Admin ? "enabled" : "disabled";
   var disabledStr = ViewBag.Admin ? "" : "disabled";
}

<header class="@className">Posts Manager</header>

<p>
<button id="createNew" @disabledStr>CreateNew</button>
</p>


<table class="@className">
    <tr>
        <th class="@className">
            Name
        </th>
        <th class="@className">
            Last Saved
        </th>
        <th></th>
    </tr>

    
@foreach (var item in Model.PostDatas)
{
    <tr>
        <td class="@className">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="@className">
            @{var dateStr = item.Date.ToString("g");} 
            @dateStr
        </td>
        <td class="@className">
            @{var id = item.ID; var title = item.Title; }
            <div id="@id">
            <button name="@id" class ="edit" @disabledStr>Edit</button> | <button name ="@id" class="delete" @disabledStr>Delete</button> <span hidden class="deleteSure"><button class="sure" @disabledStr>Sure?</button><button name ="@id" class="cancel" @disabledStr>Cancel</button></span>
           </div>     
        </td>
    </tr>
}
</table>

