@model MyBlogEmpty.ViewModels.AdminViewModel
@{
    ViewBag.Title = "Posts Manager";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/AdminIndex.js")" type="text/javascript"></script>
<link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css" />

<button  id="home">Home</button> <button id="signOut">Sign Out</button>

<h2 class="enabled">Posts Manager</h2>

 @*<a id="createNew" href="/Admin/Create" class="button">Create New</a>*@
<button id="createNew">CreateNew</button>

@*<button id="createNew">Create New</button>*@


<table class ="enabled">
    <tr>
        <th>
            Name
        </th>
        <th>
            Last Saved
        </th>
        <th></th>
    </tr>

    
@foreach (var item in Model.PostDatas)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @{var dateStr = item.Date.ToString("g");} 
            @dateStr
        </td>
        <td>
            @{var id = item.ID; var title = item.Title; }
            <button name="@id" class ="edit">Edit</button> | <button name ="@id" class="delete"></button> @*<input class="delete" type="button" value=" " id ="@id" name="@title"/>*@    
            @*@Html.ActionLink("Edit","Edit",new { id=item.ID }, new { id="edit"}) *@       
        </td>
    </tr>
}
</table>

