@model MyBlogEmpty.Models.PostData
@{
    ViewBag.Title = "Create";
}

<link rel="shortcut icon" href="http://elrte.org/favicon.ico" />
<link rel="stylesheet" href="http://elrte.org/style/style.css"    type="text/css" media="screen" />
<link rel="stylesheet" href="http://elrte.org/release/elrte/css/smoothness/jquery-ui-1.8.13.custom.css" type="text/css" media="screen" /> 
<link rel="stylesheet" href="http://elrte.org/release/elrte/css/elrte.min.css"  type="text/css" media="screen" />
<link rel="stylesheet" href="http://elrte.org/release/elfinder/css/elfinder.css" type="text/css" media="screen" />
<script src="http://elrte.org/release/elrte/js/jquery-1.6.1.min.js"          type="text/javascript" charset="utf-8"></script>
<script src="http://elrte.org/style/jquery.backgroundPosition.js" type="text/javascript" charset="utf-8"></script>
<script src="http://elrte.org/release/elrte/js/jquery-ui-1.8.13.custom.min.js" type="text/javascript" charset="utf-8"></script>
<script src="http://elrte.org/release/elrte/js/elrte.min.js"                  type="text/javascript" charset="utf-8"></script>
<script src="http://elrte.org/release/elrte/js/i18n/elrte.en.js"          type="text/javascript" charset="utf-8"></script>
<script src="http://elrte.org/release/elfinder/js/elfinder.min.js"            type="text/javascript" charset="utf-8"></script>
<script src="http://elrte.org/release/elfinder/js/i18n/elfinder.en.js"    type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
    $().ready(function () {
        $("#createForm").submit(function (event) {
            event.preventDefault();
            var data = $("#editor").val();
            var name = $("#name").val();
            var id = $("#id-hidden").val();
            $.ajax({
                url: '/Editors/Edit',
                type: 'POST',
                dataType: 'Json',
                //contentType: 'Json',
                data: { ID: id, Data: data, Name: name },
                timeout:5000,

                success: function (data, textStatus, jqXHR) {
                    if (data) {
                        location.href = "/Editors/Index";
                    }
                    else
                        alert("Failed To Save");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("Failed To Send");
                }
            });
        })
        //$("#editor").val("yyyy");
        //$('#elFinder a').hover(
        //    function () {
        //        $('#elFinder a').animate({
        //            'background-position': '0 -45px'
        //        }, 300);
        //    },
        //    function () {
        //        $('#elFinder a').delay(400).animate({
        //            'background-position': '0 0'
        //        }, 300);
        //    }
        //);

        //$('#elFinder a').delay(800).animate({ 'background-position': '0 0' }, 300);

        var opts = {
            absoluteURLs: false,
            cssClass: 'el-rte',
            lang: 'en',
            height: 420,
            toolbar: 'maxi',
            cssfiles: ['http://elrte.org/release/elrte/css/elrte-inner.css'],
            
            
        }
        $('#editor').elrte(opts);
    })
		</script>
@*<form method="post" action="http://elrte.org/release/shared/post.php">
				<div id="editor">
                    </div>
			</form>*@
<form method ="post" action="@Url.Action("Save")" id="createForm">   
    <input type="hidden" id="id-hidden" value="@Model.ID" />
    @Html.TextBoxFor(model => model.Name,  new { id = "name"})
    @Html.TextAreaFor(model => model.Data, new { id = "editor"})

    @*@Html.TextBoxFor(postData => postData.Name, new { id = "name"});
    @Html.TextAreaFor(postData => postData.Data, new { id = "editor"});*@
@*<textarea id="editor" name="editor"></textarea>*@
@*<div id="myelFinder"></div>*@
    </form>


